.services {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 2rem 0 1rem 0;
    gap: 5rem;
    background-color: rgb(83, 83, 207)
}

footer h2 {
    border-bottom: solid 2px white;
    color: white;
    font-size: 1.5rem
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 0;
    padding: 0;
}

.custcare {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 0;
    padding: 0;
    font-size: 1rem
}

.sales {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 0;
}

.aboutus {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 0;
}