@media (width <= 700px) {
    menu {
        display:flex;
        flex-direction: row;
        align-items: center;
    }
    .bottom-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: auto;
        gap: .25rem;
        padding: .25rem;
        flex-wrap: wrap;
    }
    .bottom-container h1 {
        display: flex;
        justify-content: center;
    }
    form {
    display: flex;
    margin: auto;
    flex-grow: 1;
    }
    .ad {
        display: flex;
        margin: auto;
        flex-grow: 1;
        justify-content: center;
    }
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(83, 83, 207);
    padding: 0;
    margin: auto;
    font-size: .8rem;
    height: 2.5rem
}

menu {
    display: flex;
    list-style: none;
    flex: 1;
    align-items: center;
    padding: minmax(.25rem, .5rem);
    flex-wrap: nowrap;
    justify-content: center;
    margin: auto;
}

menu li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

menu li {
    padding: .25rem;
}

menu li:hover {
    text-decoration: underline;
    text-decoration-color: white;
    cursor: pointer;
}

header menu li:not(:last-child) {
    border-right: 1px solid white;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

#searchbutton {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

.bottom-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    margin: auto;
    height: 5rem;
    font-size: .9rem;
}

form {
    display: flex;
    flex-direction: row;
    width: 50%;
    margin-top: 1rem;
}

input {
    width: 100%;
    border-bottom: 2px solid rgb(83, 83, 207);
    font-family: Montserrat;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
}

#searchbutton {
    color: rgb(255, 255, 255);
    background-color: rgb(83, 83, 207);
    border: 0;
}

h1 {
    color: rgb(83, 83, 207);
}

.ad {
    text-decoration: none;
    color: white;
    background-color: red;
    font-weight: bold;
    padding: .7rem;
    flex-shrink: 0;
}

.ad:hover {
    text-decoration: underline;
    cursor: pointer;
}