.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(83, 83, 207);
    padding: 0;
    margin: 0;
    font-size: .8rem;
    height: 2.5rem
}

menu {
    display: flex;
    list-style: none;
    align-items: center;
    padding: .25rem;
    margin: .5rem 10rem .5rem 10rem;
}

menu li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

menu li {
    padding: .25rem;
}

menu li:not(:last-child) {
    border-right: 1px solid white;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

#searchbutton {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

.bottom-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 2ch;
    margin: 0 15em 0 15em;
    height: 5rem;
    font-size: .9rem;
}

form {
    display: flex;
    flex-direction: row;
    width: 50%;
    margin-top: 1rem;
    flex: 1;
}

input {
    width: 100%;
    border-bottom: 2px solid rgb(83, 83, 207);
    font-family: Montserrat;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
}

#searchbutton {
    color: rgb(255, 255, 255);
    background-color: rgb(83, 83, 207);
    border: 0;
}

h1 {
    color: rgb(83, 83, 207);
}