.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(83, 83, 207);
    padding: 0;
    margin: 0;
    font-size: 1rem;
}

menu {
    display: flex;
    list-style: none;
    align-items: center;
    padding: .25rem;
    margin: .5rem;
}

menu li a {
    text-decoration: none;
    color: white;
}

menu li {
    padding: .25rem;
}

menu li:not(:last-child) {
    border-right: 1px solid white;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
