.page-container {
    display: flex;
    margin-left: 10em;
    width: 75%;
}

.products {
    display: flex;
    gap: 1em;
    flex-wrap: wrap;
}

.product {
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 15em;
}

.products h2 {
    background-color: rgb(83, 83, 207);
    text-align: center;
    margin: 0;
    padding: .5em;
    text-align: left;
    color: white;
}

figure {
    margin: 0;
    padding: 0;
}

figure img {
    width: 100%;
    object-fit: cover;
    max-height: 200px;
}

p {
    font-size: .8em;
}

.price-cart {
    display: flex;
    background-color: rgb(83, 83,207);
    justify-content: space-between;
    align-items: center;
    color: white;
    padding-right: .5rem;
}

.price {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.cost {
    color: white;
    font-weight: bold;
    margin-right: 1rem;
}

.price-cart button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    border: 0;
    height: 2.5rem;
    width: 2.5rem;
    background-color: rgb(54, 54, 134);
    color: white;
}
    
.services {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 2rem 0 1rem 0;
    gap: 5rem;
    background-color: rgb(83, 83, 207)
}

footer h2 {
    border-bottom: solid 2px white;
    color: white;
    font-size: 1.5rem
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 0;
    padding: 0;
}

.custcare {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 0;
    padding: 0;
    font-size: 1rem
}

.sales {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 0;
}

.aboutus {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 0;
}



