.page-container {
    display: flex;
    margin-left: 10em;
    width: 75%;
}

.products {
    display: flex;
    gap: 1em;
    flex-wrap: wrap;
}

.product {
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 15em;
}

h2 {
    background-color: rgb(83, 83, 207);
    text-align: center;
    margin: 0;
    padding: .5em;
    text-align: left;
    color: white;
}

figure {
    margin: 0;
    padding: 0;
}

figure img {
    width: 100%;
    object-fit: cover;
    max-height: 200px;
}

p {
    font-size: .8em;
}