.prodtype {
    display: flex;
    flex-direction: column;
    background-color: rgb(83, 83, 207);
    gap: .25ch;
    width: 10%;
    font-size: 1em;
    font-weight: bold;
    text-decoration: none;
    color: white;
}

.prodtype a {
    text-decoration: none;
    color: white;
}

.prodtype:hover {
    text-decoration: underline;
    cursor: pointer;
}