.products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    grid-auto-rows: 25rem;
    gap: .5rem;
}

.product {
    display: flex;
    flex-direction: column;
}

h2 {background-color: rgb(83, 83, 207);
}


}

