@media (width <= 700px) {
    .prodtype {
        display: flex;
        flex-grow: 1;
    }
}

.prodtype {
    display: flex;
    flex-direction: column;
    gap: .25rem;
    width: 10vw;
    font-size: 1em;
    font-weight: bold;
    text-decoration: none;
    color: white;
    padding: .5rem;
    min-width: 20ch;
}

.prodtype a {
    text-decoration: unset;
    color: white;
    background-color: rgb(83, 83, 207);
    padding: .5rem;
}

.prodtype a:hover {
    text-decoration: unset;
    cursor: pointer;
    background-color: rgb(51, 51, 121);
}